$font-size              : .625;
$border-radius-pill     : 999.9rem * $font-size;
$border-radius-standard : .8rem * $font-size;
$font-monospace         : monospace;
$font-sans              : system-ui, sans-serif;
